@import "./../../index.css";
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--color-custom);
  transition: transform 0.3s;
  height: 100%;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.card img {
  width: 100%;
  height: 250px;
  object-fit:fill;
}
.card .content {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-custom);
  cursor: pointer;
  transition: 0.3s;
}
