.heroContainer {
  background-color: var(--color-primary);
  display: flex;
  padding: 20px;
  gap: 20px;
}
.textSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.textSide h1 {
  color: var(--color-secondary);
}
.textSide p {
  color: var(--color-custom);
  text-align: justify;
}
.imageSide img {
  width: 500px;
  height: 400px;
  border-radius: 10px;
}
.cardsContainer {
  background-color: var(--color-accent);
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-evenly;
  height: 300px;
  align-items: center;
}
.card {
  background-color: var(--color-custom);
  width: 500px;
  height: 260px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: justify;
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 20px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: var(--color-text);
}
.text h3 {
  color: var(--color-primary);
}

.iconCircle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Achievements {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: var(--color-primary);
  height: 300px;
  flex-direction: column;
  align-items: center;
}
.textcontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-custom);
  gap: 10px;
}
.Stats {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.statCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  align-items: center;
  transition: 0.3s;
}
.statCard:hover {
  transform: scale(1.05);
}
.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}
.data {
  color: var(--color-custom);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
